<div class="container my-5" style="padding-top: 5%">
  <div class="row">
    <div class="col-md-12 text-center text-primary pb-5">
      <h3 class="m-0">Join our tribe as an</h3>
      <h1 class="big-text">Executive Member</h1>
    </div>
  </div>

  <div class="container">
    <form [formGroup]="executiveMemberForm" (ngSubmit)="addMember()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputLastName">Last Name</label>
          <input
            [ngClass]="{
              'is-invalid':
                executiveMemberForm.get('lastname').invalid &&
                (executiveMemberForm.get('lastname').dirty ||
                  executiveMemberForm.get('lastname').touched ||
                  submitted)
            }"
            type="text"
            class="form-control"
            id="inputLastName"
            formControlName="lastname"
          />
          <div
            *ngIf="
              executiveMemberForm.get('lastname').invalid &&
              (executiveMemberForm.get('lastname').dirty ||
                executiveMemberForm.get('lastname').touched ||
                submitted)
            "
            class="invalid-feedback"
          >
            <ng-container
              *ngIf="executiveMemberForm.get('lastname').errors.required"
            >
              Lastname is required
            </ng-container>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputFirstName">First Name</label>
          <input
            [ngClass]="{
              'is-invalid':
                executiveMemberForm.get('firstname').invalid &&
                (executiveMemberForm.get('firstname').dirty ||
                  executiveMemberForm.get('firstname').touched ||
                  submitted)
            }"
            formControlName="firstname"
            type="text"
            class="form-control"
            id="firstname"
          />
          <div
            *ngIf="
              executiveMemberForm.get('firstname').invalid &&
              (executiveMemberForm.get('firstname').dirty ||
                executiveMemberForm.get('firstname').touched ||
                submitted)
            "
            class="invalid-feedback"
          >
            <ng-container
              *ngIf="executiveMemberForm.get('firstname').errors.required"
            >
              Firstname is required
            </ng-container>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputDOB">Date of Birth</label>
          <div class="input-group">
            <input
              [ngClass]="{
                'is-invalid':
                  executiveMemberForm.get('dob').invalid &&
                  (executiveMemberForm.get('dob').dirty ||
                    executiveMemberForm.get('dob').touched ||
                    submitted)
              }"
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              ngbDatepicker
              #d="ngbDatepicker"
              formControlName="dob"
              readonly
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary calendar"
                (click)="d.toggle()"
                type="button"
              ></button>
            </div>
            <div
              *ngIf="
                executiveMemberForm.get('dob').invalid &&
                (executiveMemberForm.get('dob').dirty ||
                  executiveMemberForm.get('dob').touched ||
                  submitted)
              "
              class="invalid-feedback"
            >
              <ng-container
                *ngIf="executiveMemberForm.get('dob').errors.required"
              >
                Date of birth is required
              </ng-container>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail">Email Address</label>
          <input
            [ngClass]="{
              'is-invalid':
                executiveMemberForm.get('email').invalid &&
                (executiveMemberForm.get('email').dirty ||
                  executiveMemberForm.get('email').touched ||
                  submitted)
            }"
            formControlName="email"
            type="text"
            class="form-control"
            id="inputEmail"
          />
          <div
            *ngIf="
              executiveMemberForm.get('email').invalid &&
              (executiveMemberForm.get('email').dirty ||
                executiveMemberForm.get('email').touched ||
                submitted)
            "
            class="invalid-feedback"
          >
            <ng-container
              *ngIf="executiveMemberForm.get('email').errors.required"
            >
              Email is required
            </ng-container>
            <ng-container
              *ngIf="executiveMemberForm.get('email').errors.pattern"
            >
              Email is inavlid
            </ng-container>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="phoneNumber">Phone number (Mobile or Fixed-line)</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <select class="custom-select" id="inputPhonePrefix">
                <option value="+230" selected>+230</option>
              </select>
            </div>
            <input
              [ngClass]="{
                'is-invalid':
                  executiveMemberForm.get('phoneNumber').invalid &&
                  (executiveMemberForm.get('phoneNumber').dirty ||
                    executiveMemberForm.get('phoneNumber').touched ||
                    submitted)
              }"
              type="text"
              class="form-control"
              id="inputPhone"
              formControlName="phoneNumber"
            />
            <div
              *ngIf="
                executiveMemberForm.get('phoneNumber').invalid &&
                (executiveMemberForm.get('phoneNumber').dirty ||
                  executiveMemberForm.get('phoneNumber').touched ||
                  submitted)
              "
              class="invalid-feedback"
            >
              <ng-container
                *ngIf="executiveMemberForm.get('phoneNumber').errors.required"
              >
                Phone number is required
              </ng-container>
              <ng-container
                *ngIf="executiveMemberForm.get('phoneNumber').errors.pattern"
              >
                Phone number is inavlid
              </ng-container>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputSocialAccount"
            >Social Account <b>(Optional)</b></label
          >
          <input
            type="text"
            class="form-control"
            id="inputSocialAccount"
            formControlName="social"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEducationInstitution">Education Institution</label>
          <input
            [ngClass]="{
              'is-invalid':
                executiveMemberForm.get('educInstitution').invalid &&
                (executiveMemberForm.get('educInstitution').dirty ||
                  executiveMemberForm.get('educInstitution').touched ||
                  submitted)
            }"
            type="text"
            class="form-control"
            id="inputEducationInstitution"
            formControlName="educInstitution"
          />
          <div
            *ngIf="
              executiveMemberForm.get('educInstitution').invalid &&
              (executiveMemberForm.get('educInstitution').dirty ||
                executiveMemberForm.get('educInstitution').touched ||
                submitted)
            "
            class="invalid-feedback"
          >
            <ng-container
              *ngIf="executiveMemberForm.get('educInstitution').errors.required"
            >
              Education Institution is required
            </ng-container>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="inputFieldOfStudy">Field of Study</label>
          <input
            [ngClass]="{
              'is-invalid':
                executiveMemberForm.get('fieldOfStudy').invalid &&
                (executiveMemberForm.get('fieldOfStudy').dirty ||
                  executiveMemberForm.get('fieldOfStudy').touched ||
                  submitted)
            }"
            type="text"
            class="form-control"
            id="inputFieldOfStudy"
            formControlName="fieldOfStudy"
          />
          <div
            *ngIf="
              executiveMemberForm.get('fieldOfStudy').invalid &&
              (executiveMemberForm.get('fieldOfStudy').dirty ||
                executiveMemberForm.get('fieldOfStudy').touched ||
                submitted)
            "
            class="invalid-feedback"
          >
            <ng-container
              *ngIf="executiveMemberForm.get('fieldOfStudy').errors.required"
            >
              Field of study is required
            </ng-container>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-12">
          <label for="question1"
            >How did you get to know about Sov Lanatir?</label
          >
          <input
            [ngClass]="{
              'is-invalid':
                executiveMemberForm.get('question1').invalid &&
                (executiveMemberForm.get('question1').dirty ||
                  executiveMemberForm.get('question1').touched ||
                  submitted)
            }"
            formControlName="question1"
            type="text"
            class="form-control"
            id="question1"
          />
          <div
            *ngIf="
              executiveMemberForm.get('question1').invalid &&
              (executiveMemberForm.get('question1').dirty ||
                executiveMemberForm.get('question1').touched ||
                submitted)
            "
            class="invalid-feedback"
          >
            <ng-container
              *ngIf="executiveMemberForm.get('question1').errors.required"
            >
              Answer is required
            </ng-container>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <label for="question2">Why do you want to join us?</label>
          <textarea
            [ngClass]="{
              'is-invalid':
                executiveMemberForm.get('question2').invalid &&
                (executiveMemberForm.get('question2').dirty ||
                  executiveMemberForm.get('question2').touched ||
                  submitted)
            }"
            formControlName="question2"
            class="form-control"
            id="question2"
            rows="3"
          ></textarea>
          <div
            *ngIf="
              executiveMemberForm.get('question2').invalid &&
              (executiveMemberForm.get('question2').dirty ||
                executiveMemberForm.get('question2').touched ||
                submitted)
            "
            class="invalid-feedback"
          >
            <ng-container
              *ngIf="executiveMemberForm.get('question2').errors.required"
            >
              Answer is required
            </ng-container>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-12">
          <label for="question3">What is your biggest achievement?</label>
          <textarea
            [ngClass]="{
              'is-invalid':
                executiveMemberForm.get('question3').invalid &&
                (executiveMemberForm.get('question3').dirty ||
                  executiveMemberForm.get('question3').touched ||
                  submitted)
            }"
            formControlName="question3"
            class="form-control"
            id="question3"
            rows="3"
          ></textarea>
          <div
            *ngIf="
              executiveMemberForm.get('question3').invalid &&
              (executiveMemberForm.get('question3').dirty ||
                executiveMemberForm.get('question3').touched ||
                submitted)
            "
            class="invalid-feedback"
          >
            <ng-container
              *ngIf="executiveMemberForm.get('question3').errors.required"
            >
              Answer is required
            </ng-container>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <label for="question4"
            >Have you been in any other organisations? If yes, what was your
            role?</label
          >
          <input
            [ngClass]="{
              'is-invalid':
                executiveMemberForm.get('question4').invalid &&
                (executiveMemberForm.get('question4').dirty ||
                  executiveMemberForm.get('question4').touched ||
                  submitted)
            }"
            formControlName="question4"
            type="text"
            class="form-control"
            id="question4"
          />
          <div
            *ngIf="
              executiveMemberForm.get('question4').invalid &&
              (executiveMemberForm.get('question4').dirty ||
                executiveMemberForm.get('question4').touched ||
                submitted)
            "
            class="invalid-feedback"
          >
            <ng-container
              *ngIf="executiveMemberForm.get('question4').errors.required"
            >
              Answer is required
            </ng-container>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-12">
          <label for="question5"
            >What are you already doing as an individual, to save Nature?</label
          >
          <textarea
            [ngClass]="{
              'is-invalid':
                executiveMemberForm.get('question5').invalid &&
                (executiveMemberForm.get('question5').dirty ||
                  executiveMemberForm.get('question5').touched ||
                  submitted)
            }"
            formControlName="question5"
            class="form-control"
            id="question5"
            rows="3"
          ></textarea>
          <div
            *ngIf="
              executiveMemberForm.get('question5').invalid &&
              (executiveMemberForm.get('question5').dirty ||
                executiveMemberForm.get('question5').touched ||
                submitted)
            "
            class="invalid-feedback"
          >
            <ng-container
              *ngIf="executiveMemberForm.get('question5').errors.required"
            >
              Answer is required
            </ng-container>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-12">
          <label for="question6"
            >If nature contained all answers of the universe, what would you ask
            her?</label
          >
          <textarea
            [ngClass]="{
              'is-invalid':
                executiveMemberForm.get('question6').invalid &&
                (executiveMemberForm.get('question6').dirty ||
                  executiveMemberForm.get('question6').touched ||
                  submitted)
            }"
            formControlName="question6"
            class="form-control"
            id="question6"
            rows="3"
          ></textarea>
          <div
            *ngIf="
              executiveMemberForm.get('question6').invalid &&
              (executiveMemberForm.get('question6').dirty ||
                executiveMemberForm.get('question6').touched ||
                submitted)
            "
            class="invalid-feedback"
          >
            <ng-container
              *ngIf="executiveMemberForm.get('question6').errors.required"
            >
              Answer is required
            </ng-container>
          </div>
        </div>
      </div>

      <div class="form-row d-flex flex-column">
        <label for="department">
          Which department(s) are you willing to join in?
          <span style="font-size: small; color: red; font-weight: bold"
            >* At least one department should be selected</span
          >
        </label>
        <div class="overflow-auto" style="height: 150px">
          <ng-container *ngFor="let department of departments">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                (change)="toggleDepartments($event, department.title)"
              />
              <label class="form-check-label" for="defaultCheck1">
                {{ department.title }}
              </label>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-12">
          <label
            >Upload your CV here (PDF file format)
            <span style="font-size: small; color: red; font-weight: bold"
              >* Required</span
            >
          </label>
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="cvFile"
              accept=".pdf"
              (change)="onCvPicked($event)"
            />
            <label class="custom-file-label" for="cvFile">Choose CV</label>
          </div>
        </div>
      </div>

      <div class="alert alert-danger mt-3" role="alert" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
      <div class="alert alert-success mt-3" role="alert" *ngIf="message">
        {{ message }}
      </div>

      <div class="form-row py-4">
        <div class="form-group offset-4 col-4">
          <button
            type="submit"
            class="form-control btn btn-primary text-white p-2"
            [disabled]="isAdding"
          >
            <ng-container *ngIf="!isAdding">JOIN</ng-container
            ><ng-container *ngIf="isAdding">Registering...</ng-container>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
