<div class="container mt-5" style="padding-top: 5%;">
    <div class="row">
        <div class="col-md-12 text-center text-primary">
            <h3>Join our tribe as an </h3>
            <h1>Executive Member</h1>
        </div>
    </div>

    <div class="container">
        <form [formGroup]= "executiveMemberForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputLastName">Last Name</label>
      <input type="text" class="form-control" id="inputLastName">
    </div>
    <div class="form-group col-md-6">
      <label for="inputFirstName">First Name</label>
      <input type="text" class="form-control" id="inputFirstName">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputDOB">Date of Birth</label>
      <input type="text" class="form-control" id="inputDOB">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail">Email Address</label>
      <input type="text" class="form-control" id="inputEmail">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPhone">Phone number</label>
      <input type="text" class="form-control" id="inputPhone">
    </div>
    <div class="form-group col-md-6">
      <label for="inputSocialAccount">Social Account (Optional)</label>
      <input type="text" class="form-control" id="inputSocialAccount">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEducationInstitution">Education Institution</label>
      <input type="text" class="form-control" id="inputEducationInstitution">
    </div>
    <div class="form-group col-md-6">
      <label for="inputFieldOfStudy">Field of Study</label>
      <input type="text" class="form-control" id="inputFieldOfStudy">
    </div>
  </div>

   <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAboutSovLanatir">How did you get to know about Sov Lanatir?</label>
      <input type="text" class="form-control" id="inputAboutSovLanatir">
    </div>
    <div class="form-group col-md-6">
      <label for="inputWhyJoinUs">Why do you want to join us?</label>
      <input type="text" class="form-control" id="inputWhyJoinUs">
    </div>
  </div>

   <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputBiggestAchievement">What is your biggest achievement?</label>
      <input type="text" class="form-control" id="inputBiggestAchievement">
    </div>
    <div class="form-group col-md-6">
      <label for="inputRole">Have you been in any other organisations? if yes, what was your role?</label>
      <input type="text" class="form-control" id="inputRole">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputIndividual">What are you already doing as an individual, to save Nature?</label>
      <input type="text" class="form-control" id="inputIndividual">
    </div>
    <div class="form-group col-md-6">
      <label for="inputNature">If nature contained all answers of the universe, what would you ask her?</label>
      <input type="text" class="form-control" id="inputNature">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputDepartment">Which department(s) are you willing to join in?</label>
      <input type="text" class="form-control" id="inputDepartment">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <p>Upload your CV here</p>
      <input type="file"  id="cVFile">
    </div>
  </div>

    
  
  <button type="submit" class="btn btn-primary col-md-12 text-white" style="margin-bottom: 2%; padding: 2% 0;" >JOIN</button>
</form>
    </div>
</div>