<div
  class="card inside-card border-0 m-3"
  style="cursor: pointer"
  (click)="onClick(blog._id)"
>
  <div
    class="card-header border-0"
    [ngStyle]="{ 'background-color': cardStyle.backgroundColor }"
  >
    <div class="container-fluid">
      <div class="row h-100">
        <div class="col-2 p-0 pr-3 my-auto">
          <img [src]="imgUrl + blog.image" class="avatar shadow" />
        </div>
        <div
          class="col-10 my-auto"
          [ngStyle]="{ color: cardStyle.primaryText }"
        >
          <div class="row">
            <div class="col-12 blog-author headr">{{ blog.name }}</div>
          </div>
          <div class="row">
            <div class="col-12 blog-date psource">{{ blog.date }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="card-body"
    [ngStyle]="{ 'background-color': cardStyle.backgroundColor }"
  >
    <div class="py-2">
      <h5 class="card-title headr" [ngStyle]="{ color: cardStyle.primaryText }">
        {{ blog.title }}
      </h5>
      <p
        class="card-text psource"
        [ngStyle]="{ color: cardStyle.secondaryText }"
      >
        {{ blog.subtitle }}
      </p>
    </div>
    <hr />
    <div class="container-fluid">
      <div class="row" [ngStyle]="{ color: cardStyle.primaryText }">
        <div class="col-6 text-center">
          <fa-icon [icon]="faEye"></fa-icon>
          <span class="px-3"> {{ blog.viewCount }} Views </span>
        </div>
        <div class="col-6 text-center">
          <fa-icon [icon]="faCommentAlt"></fa-icon>
          <span class="px-3"> {{ blog.comments.length }} Comments </span>
        </div>
      </div>
    </div>
  </div>
</div>
