<div *ngIf="!isEditing && !isAdding" class="card p-3 overflow-auto">
  <div class="row">
    <div class="col-12 text-center">
      <h2>
        DEPARTMENTS&nbsp;
        <button class="btn btn-success" (click)="isAdding = true">
          Add department
        </button>
      </h2>
    </div>
  </div>
  <div class="row border-bottom border-top">
    <div class="col-6 text-center pb-2 pt-2">
      <span class="headers" (click)="sortProperty('_id')">ID</span>
      <fa-icon
        class="hovering"
        *ngIf="sortingWay == 'desc' && propertyName == '_id'"
        [icon]="faAngleDown"
        transform="grow-13"
        (click)="sortWay('asc')"
      ></fa-icon>
      <fa-icon
        class="hovering"
        *ngIf="sortingWay == 'asc' && propertyName == '_id'"
        [icon]="faAngleUp"
        transform="grow-13"
        (click)="sortWay('desc')"
      ></fa-icon>
    </div>
    <div class="col-6 text-center pb-2 pt-2">
      <span class="headers" (click)="sortProperty('title')">Title</span>
      <fa-icon
        class="hovering"
        *ngIf="sortingWay == 'desc' && propertyName == 'title'"
        [icon]="faAngleDown"
        transform="grow-13"
        (click)="sortWay('asc')"
      ></fa-icon>
      <fa-icon
        class="hovering"
        *ngIf="sortingWay == 'asc' && propertyName == 'title'"
        [icon]="faAngleUp"
        transform="grow-13"
        (click)="sortWay('desc')"
      ></fa-icon>
    </div>
  </div>
  <div *ngIf="isLoading" class="row">
    <div class="myLoader">
      <div
        class="spinner-border text-success"
        style="width: 8rem; height: 8rem"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!isLoading && fetchErrorMessage">
    <div class="row">
      <div class="myLoader">
        {{ fetchErrorMessage }}
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!isLoading && !fetchErrorMessage">
    <ng-container
      *ngFor="let department of departments | sortBy: sortingWay:propertyName"
    >
      <div
        class="row mt-2 myRows"
        data-toggle="modal"
        [attr.data-target]="'#D' + department._id"
      >
        <div class="col-6 text-center">
          {{ department._id }}
        </div>
        <div class="col-6 text-center">
          {{ department.title }}
        </div>
      </div>
      <div
        class="modal fade"
        id="D{{ department._id }}"
        data-backdrop="static"
        data-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title mb-0 p-0" id="staticBackdropLabel">
                {{ department.title }}
              </h3>
              <button
                *ngIf="!isDeleted && !isDeleting"
                class="btn"
                (click)="edit(department)"
                data-dismiss="modal"
              >
                EDIT
              </button>
              <button
                *ngIf="!isDeleted && !isDeleting"
                class="btn"
                (click)="isDeleting = true"
                data-dismiss="modal"
              >
                DELETE
              </button>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" *ngIf="!isDeleted && !isDeleting">
              <div class="row">
                <div class="col mb-2">
                  <b>Department's Gallery</b>
                  <br />
                  <ngb-carousel
                    #carousel
                    [interval]="5000"
                    [pauseOnHover]="false"
                    [showNavigationArrows]="true"
                    [showNavigationIndicators]="false"
                  >
                    <ng-template
                      ngbSlide
                      *ngFor="let image of department.images; index as i"
                    >
                      <a
                        href="{{ imgUrl }}{{ image }}"
                        target="_blank"
                        rel="nofollow noopener noreferrer"
                      >
                        <div class="picsum-img-wrapper">
                          <img
                            class="img-fluid"
                            src="{{ imgUrl }}{{
                              department.title.replace(' ', '-')
                            }}/{{ image }}"
                            alt="Booking Website Gallery {{ i + 1 }}"
                          />
                        </div>
                      </a>
                    </ng-template>
                  </ngb-carousel>
                </div>
              </div>
              <div class="row">
                <div class="col mb-2">
                  <b>Date Added:</b><br />{{
                    department.date | date: "MMM d, y, h:mm a"
                  }}
                </div>
              </div>
              <div class="row">
                <div class="col mb-2">
                  <b>Title:</b><br />{{ department.title }}
                </div>
              </div>
              <div class="row">
                <div class="col mb-2">
                  <b>Detail:</b><br />
                  <span innerHtml="{{ department.about }}"></span>
                </div>
              </div>
            </div>
            <div class="modal-body" *ngIf="isDeleted || isDeleting">
              <h3>
                Are you completely & absolutely sure you want to delete this
                department?
              </h3>
              <h4>
                If so then enter the following (as it is shown) in the input box
                below:
              </h4>
              <p>YES! I am absolutely sure.</p>
              <form [formGroup]="deleteForm" style="text-align: left">
                <script>
                  if (document.getElementById("passPhrase").clicked) {
                    document
                      .getElementById("errorMessage")
                      .appendChild(
                        document.createTextNode(
                          "Error! PassPhrase doesn't match."
                        )
                      );
                  }
                </script>
                <span id="errorMessage"></span>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="passPhrase"
                    placeholder="Input the above sentence to continue"
                    formControlName="password"
                  />
                </div>
              </form>
            </div>
            <div class="modal-footer" *ngIf="isDeleted || isDeleting">
              <button
                *ngIf="!isDeleted"
                class="btn"
                (click)="deleteDepartment(department)"
              >
                DELETE NOW
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-container *ngIf="isEditing || isAdding">
  <div *ngIf="!isEdited && !isAdded" class="card p-3 overflow-auto">
    <div class="row">
      <div class="col-12 text-center">
        <h2>
          Department creation form<br />
          <button class="btn btn-success" *ngIf="isAdding" (click)="add()">
            Add</button
          >&nbsp;
          <button class="btn btn-success" *ngIf="isEditing" (click)="save()">
            Save</button
          >&nbsp;
          <button class="btn btn-success" (click)="cancel()">Cancel</button>
        </h2>
      </div>
    </div>

    <h1 *ngIf="isEditing">Already added images</h1>
    <div class="d-flex flex-wrap flexOldImageBox">
      <ng-container *ngFor="let image of imagesPreview2">
        <div class="d-flex flex-column oldImageFlex p-2">
          <img
            class="img-fluid oldImage"
            src="{{ imgUrl }}{{ department.title.replace(' ', '-') }}/{{
              image
            }}"
            [alt]="image.substring(0, image.length - 3)"
          />
          <input
            class="mt-2"
            type="file"
            accept=".png, .jpg"
            (change)="onImageChange($event, image)"
          />
          <button
            class="btn btn-warning mt-2"
            type="button"
            (click)="deletePic(image)"
          >
            Remove Picture
          </button>
        </div>
      </ng-container>
    </div>

    <h1 *ngIf="imageChangePreview.length > 0">Changed Images</h1>
    <div class="d-flex flex-wrap flexOldImageBox">
      <ng-container *ngFor="let image of imageChangePreview">
        <div class="d-flex flex-column oldImageFlex p-2">
          <img
            class="img-fluid"
            src="{{ image }}"
            alt="{{ department.title.replace(' ', '-') }}"
          />
        </div>
      </ng-container>
    </div>

    <h1>New Images</h1>
    <div class="d-flex flex-wrap flexOldImageBox pt-3">
      <ng-container *ngFor="let image of imagesPreview">
        <div class="d-flex flex-column oldImageFlex p-2">
          <img class="img-fluid" [src]="image" />
        </div>
      </ng-container>
      <ng-container
        *ngIf="
          (isAdding && imagesPreview.length == 0) ||
          (isEditing && imagesPreview.length == 0 && imagesPreview2.length == 0)
        "
      >
        <div class="">At least one image should be uploaded!</div>
      </ng-container>
    </div>
    <button
      class="btn btn-success"
      type="button"
      (click)="profilePicturePicker.click()"
    >
      Add Pictures&nbsp;<fa-icon [icon]="faEdit"></fa-icon>
    </button>
    <form [formGroup]="departmentForm" style="text-align: left">
      <input
        type="file"
        #profilePicturePicker
        multiple
        accept=".png, .jpg"
        (change)="onImagePicked($event)"
      />
      <div class="form-group">
        <label for="inputAddress">Title</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress"
          placeholder="Title"
          formControlName="title"
        />
      </div>
      <label for="inputAddress">Color Pickers</label>
      <span
        [style.color]="departmentForm.value.primary"
        [cpPosition]="'bottom'"
        [cpPositionOffset]="'50%'"
        [cpPositionRelativeToArrow]="true"
        [(colorPicker)]="departmentForm.value.primary"
        >Primary</span
      >
      <span
        [style.color]="departmentForm.value.secondary"
        [cpPosition]="'bottom'"
        [cpPositionOffset]="'50%'"
        [cpPositionRelativeToArrow]="true"
        [(colorPicker)]="departmentForm.value.secondary"
        >Secondary</span
      >
      <span
        [style.color]="departmentForm.value.tertiary"
        [cpPosition]="'bottom'"
        [cpPositionOffset]="'50%'"
        [cpPositionRelativeToArrow]="true"
        [(colorPicker)]="departmentForm.value.tertiary"
        >Tertiary</span
      >
      <label for="inputAddress">Title</label>
      <ejs-richtexteditor
        id="defaultRTE"
        formControlName="about"
        [toolbarSettings]="rteTools"
        height="400"
        [maxLength]="maxLength"
      >
      </ejs-richtexteditor>
    </form>
  </div>
  <div *ngIf="isAdded || isEdited" class="card p-3 overflow-auto">
    <div class="row">
      <div class="col-12 text-center">
        <h3>{{ addEditMessage }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <button class="btn btn-success" (click)="cancel()">Close</button>
      </div>
    </div>
  </div>
</ng-container>
