<div *ngIf="!isEditing && !isAdding" class="card p-3 overflow-auto">
  <div class="row">
    <div class="col-12 text-center">
      <h2>
        DEPARTMENTS&nbsp;
        <button class="btn btn-success" (click)="isAdding = true">
          Add Department
        </button>
      </h2>
    </div>
  </div>
  <div class="row border-bottom border-top">
    <div class="col-6 text-center pb-2 pt-2">
      <span class="headers" (click)="sortProperty('_id')">ID</span>
      <fa-icon
        class="hovering"
        *ngIf="sortingWay == 'desc' && propertyName == '_id'"
        [icon]="faAngleDown"
        transform="grow-13"
        (click)="sortWay('asc')"
      ></fa-icon>
      <fa-icon
        class="hovering"
        *ngIf="sortingWay == 'asc' && propertyName == '_id'"
        [icon]="faAngleUp"
        transform="grow-13"
        (click)="sortWay('desc')"
      ></fa-icon>
    </div>
    <div class="col-6 text-center pb-2 pt-2">
      <span class="headers" (click)="sortProperty('title')">Title</span>
      <fa-icon
        class="hovering"
        *ngIf="sortingWay == 'desc' && propertyName == 'title'"
        [icon]="faAngleDown"
        transform="grow-13"
        (click)="sortWay('asc')"
      ></fa-icon>
      <fa-icon
        class="hovering"
        *ngIf="sortingWay == 'asc' && propertyName == 'title'"
        [icon]="faAngleUp"
        transform="grow-13"
        (click)="sortWay('desc')"
      ></fa-icon>
    </div>
  </div>
  <div *ngIf="isLoading" class="row">
    <div class="myLoader">
      <div
        class="spinner-border text-success"
        style="width: 8rem; height: 8rem"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!isLoading && fetchErrorMessage">
    <div class="row">
      <div class="myLoader">
        {{ fetchErrorMessage }}
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!isLoading && !fetchErrorMessage">
    <ng-container
      *ngFor="let department of departments | sortBy: sortingWay:propertyName"
    >
      <div class="row mt-2 myRows" (click)="openViewModal(content)">
        <div class="col-6 text-center">
          {{ department._id }}
        </div>
        <div class="col-6 text-center">
          {{ department.title }}
        </div>
      </div>
      <ng-template #content let-modal>
        <div class="modal-header" *ngIf="!isLoading2">
          <h4 class="modal-title" id="modal-basic-title" *ngIf="!isDeleted">
            {{ department.title }}&nbsp;
            <button *ngIf="!isDeleting" class="btn" (click)="edit(department)">
              EDIT
            </button>
            <button *ngIf="!isDeleting" class="btn" (click)="isDeleting = true">
              DELETE
            </button>
          </h4>
          <h4 class="modal-title" id="modal-basic-title" *ngIf="isDeleted">
            {{ errorMessage }}
          </h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="cancel()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-boy" *ngIf="isLoading2">
          <div class="myLoader2">
            <div
              class="spinner-border text-success"
              style="width: 8rem; height: 8rem"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
        <div
          class="modal-body"
          *ngIf="!isDeleted && !isDeleting && !isLoading2"
        >
          <div class="row">
            <div class="col mb-2">
              <b>Department's Gallery</b>
              <br />
              <ngb-carousel
                #carousel
                [interval]="5000"
                [pauseOnHover]="false"
                [showNavigationArrows]="true"
                [showNavigationIndicators]="false"
              >
                <ng-template
                  ngbSlide
                  *ngFor="let image of department.images; index as i"
                >
                  <a
                    href="{{ imgUrl }}{{ image }}"
                    target="_blank"
                    rel="nofollow noopener noreferrer"
                  >
                    <div class="picsum-img-wrapper">
                      <img
                        class="img-fluid"
                        src="{{ imgUrl }}{{
                          department.title.replace(' ', '-')
                        }}/{{ image }}"
                        alt="Booking Website Gallery {{ i + 1 }}"
                      />
                    </div>
                  </a>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
          <div class="row">
            <div class="col mb-2">
              <b>Date Added:</b><br />{{
                department.date | date: "MMM d, y, h:mm a"
              }}
            </div>
          </div>
          <div class="row">
            <div class="col mb-2">
              <b>Title:</b><br />{{ department.title }}
            </div>
          </div>
          <div class="row">
            <div class="col mb-2">
              <b>Detail:</b><br />
              <span innerHtml="{{ department.about }}"></span>
            </div>
          </div>
        </div>

        <div class="modal-body" *ngIf="isDeleting">
          <h3>
            Are you completely & absolutely sure you want to delete this
            department?
          </h3>
          <h4>
            If so then enter the following (as it is shown) in the input box
            below:
          </h4>
          <p>YES! I am absolutely sure.</p>
          <form [formGroup]="deleteForm" style="text-align: left">
            <script>
              if (document.getElementById("passPhrase").clicked) {
                document
                  .getElementById("errorMessage")
                  .appendChild(
                    document.createTextNode("Error! PassPhrase doesn't match.")
                  );
              }
            </script>
            <span id="errorMessage"></span>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="passPhrase"
                placeholder="Input the above sentence to continue"
                formControlName="password"
              />
            </div>
          </form>
        </div>

        <div
          class="modal-footer"
          *ngIf="(isDeleted || isDeleting) && !isLoading2"
        >
          <button
            *ngIf="!isDeleted"
            type="button"
            class="btn btn-outline-dark"
            (click)="deleteDepartment(department)"
          >
            DELETE NOW
          </button>
          <button
            *ngIf="isDeleted"
            type="button"
            class="btn btn-outline-dark"
            (click)="cancel()"
          >
            CLOSE
          </button>
        </div>
      </ng-template>
    </ng-container>
  </ng-container>
</div>

<ng-container *ngIf="isEditing || isAdding">
  <div
    *ngIf="!isLoading2 && !isEdited && !isAdded"
    class="card p-3 overflow-auto"
  >
    <div class="row">
      <div class="col-12 text-center">
        <h2>
          Department creation/editing form<br />
          <button class="btn btn-success" *ngIf="isAdding" (click)="add()">
            Add</button
          >&nbsp;
          <button class="btn btn-success" *ngIf="isEditing" (click)="save()">
            Save</button
          >&nbsp;
          <button class="btn btn-success" (click)="cancel()">Cancel</button>
        </h2>
      </div>
    </div>

    <h3>Department Thumbnail</h3>
    <div class="d-flex flex-wrap flexOldImageBox">
      <ng-container>
        <div class="d-flex flex-column oldImageFlex p-2">
          <img
            *ngIf="thumbnailPreview"
            class="img-fluid oldImage"
            src="{{ imgUrl }}{{ department.title.replace(' ', '-') }}/{{ thumbnailPreview }}"
            [alt]="thumbnailPreview.substring(0, thumbnailPreview.length - 3)"
          />
          <img
            *ngIf="thumbnailPreviewNew"
            class="img-fluid oldImage"
            src="{{ thumbnailPreviewNew }}"
            [alt]=""
          />
          <input
            #thumbnailPicker
            class="mt-2"
            type="file"
            accept=".png, .jpg"
            (change)="onThumbnailChange($event)"
          />
          <button
            class="btn btn-success"
            type="button"
            (click)="thumbnailPicker.click()"
          >
            Add a thumbnail;<fa-icon [icon]="faEdit"></fa-icon>
          </button>
        </div>
      </ng-container>
    </div>

    <h3 *ngIf="isEditing && imagesPreview2">Already added images</h3>
    <div
      *ngIf="isEditing && imagesPreview2"
      class="d-flex flex-wrap flexOldImageBox"
    >
      <ng-container *ngFor="let image of imagesPreview2">
        <div class="d-flex flex-column oldImageFlex p-2">
          <img
            class="img-fluid oldImage"
            src="{{ imgUrl }}{{ department.title.replace(' ', '-') }}/{{
              image
            }}"
            [alt]="image.substring(0, image.length - 3)"
          />
          <input
            class="mt-2"
            type="file"
            accept=".png, .jpg"
            (change)="onImageChange($event, image)"
          />
          <button
            class="btn btn-warning mt-2"
            type="button"
            (click)="deletePic(image)"
          >
            Remove Picture
          </button>
        </div>
      </ng-container>
    </div>

    <h3 *ngIf="imageChangePreview.length > 0">Changed Images</h3>
    <div class="d-flex flex-wrap flexOldImageBox">
      <ng-container *ngFor="let image of imageChangePreview">
        <div class="d-flex flex-column oldImageFlex p-2">
          <img
            class="img-fluid"
            src="{{ image }}"
            alt="{{ department.title.replace(' ', '-') }}"
          />
        </div>
      </ng-container>
    </div>

    <h3>New Images</h3>
    <div class="d-flex flex-wrap flexOldImageBox pt-3">
      <ng-container *ngFor="let image of imagesPreview">
        <div class="d-flex flex-column oldImageFlex p-2">
          <img class="img-fluid" [src]="image" />
        </div>
      </ng-container>
      <ng-container
        *ngIf="
          (isAdding && imagesPreview.length == 0) ||
          (isEditing && imagesPreview.length == 0 && imagesPreview2.length == 0)
        "
      >
        <div class="">At least one image should be uploaded!</div>
      </ng-container>
    </div>
    <button
      class="btn btn-success"
      type="button"
      (click)="profilePicturePicker.click()"
    >
      Add Pictures&nbsp;<fa-icon [icon]="faEdit"></fa-icon>
    </button>
    <form [formGroup]="departmentForm" style="text-align: left">
      <input
        type="file"
        #profilePicturePicker
        multiple
        accept=".png, .jpg"
        (change)="onImagePicked($event)"
      />
      <div class="form-group">
        <label for="inputAddress"><b>Title</b></label>
        <input
          type="text"
          class="form-control"
          id="inputAddress"
          placeholder="Title"
          formControlName="title"
        />
      </div>
      <label for="inputAddress"><b>Color Pickers</b></label>
      <div>
        <label for="inputAddress">Primary color</label>
        <input
          ejs-colorpicker
          type="color"
          id="colorpicker1"
          formControlName="primary"
        />
      </div>
      <div>
        <label for="inputAddress">Secondary color</label>
        <input
          ejs-colorpicker
          type="color"
          id="colorpicker2"
          formControlName="secondary"
        />
      </div>
      <div>
        <label for="inputAddress">Tertiary color</label>
        <input
          ejs-colorpicker
          type="color"
          id="colorpicker3"
          formControlName="tertiary"
        />
      </div>
      <label style="margin-top: 2%" for="inputAddress"
        ><b>Descriptions</b></label
      >
      <!-- [maxLength]="maxLength" -->
      <ejs-richtexteditor
        id="defaultRTE"
        formControlName="about"
        [toolbarSettings]="rteTools"
        height="400"
      >
      </ejs-richtexteditor>
    </form>
  </div>
  <div *ngIf="isLoading2" class="card p-3 overflow-auto">
    <div class="row">
      <div class="myLoader">
        <div
          class="spinner-border text-success"
          style="width: 8rem; height: 8rem"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="!isLoading2 && (isAdded || isEdited)"
    class="card p-3 overflow-auto"
  >
    <div class="row">
      <div class="col-12 text-center mt-2">
        <h3>{{ addEditMessage }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <button class="btn btn-success" (click)="cancel()">Close</button>
      </div>
    </div>
  </div>
</ng-container>
