<div *ngIf="!isEditing && !isAdding" class="card p-3 overflow-auto">
  <div class="row">
    <div class="col-12 text-center">
      <h2>
        BLOGS&nbsp;
        <button class="btn btn-success" (click)="isAdding = true">
          Add Blog
        </button>
      </h2>
    </div>
  </div>
  <div class="row border-bottom border-top">
    <div class="col-4 text-center pb-2 pt-2">
      <span class="headers" (click)="sortProperty('date')">Date</span>
      <fa-icon
        class="hovering"
        *ngIf="sortingWay == 'desc' && propertyName == 'date'"
        [icon]="faAngleDown"
        transform="grow-13"
        (click)="sortWay('asc')"
      ></fa-icon>
      <fa-icon
        class="hovering"
        *ngIf="sortingWay == 'asc' && propertyName == 'date'"
        [icon]="faAngleUp"
        transform="grow-13"
        (click)="sortWay('desc')"
      ></fa-icon>
    </div>
    <div class="col-5 text-center pb-2 pt-2">
      <span class="headers" (click)="sortProperty('_id')">ID</span>
      <fa-icon
        class="hovering"
        *ngIf="sortingWay == 'desc' && propertyName == '_id'"
        [icon]="faAngleDown"
        transform="grow-13"
        (click)="sortWay('asc')"
      ></fa-icon>
      <fa-icon
        class="hovering"
        *ngIf="sortingWay == 'asc' && propertyName == '_id'"
        [icon]="faAngleUp"
        transform="grow-13"
        (click)="sortWay('desc')"
      ></fa-icon>
    </div>
    <div class="col-3 text-center pb-2 pt-2">
      <span class="headers" (click)="sortProperty('name')">Name</span>
      <fa-icon
        class="hovering"
        *ngIf="sortingWay == 'desc' && propertyName == 'name'"
        [icon]="faAngleDown"
        transform="grow-13"
        (click)="sortWay('asc')"
      ></fa-icon>
      <fa-icon
        class="hovering"
        *ngIf="sortingWay == 'asc' && propertyName == 'name'"
        [icon]="faAngleUp"
        transform="grow-13"
        (click)="sortWay('desc')"
      ></fa-icon>
    </div>
  </div>
  <div *ngIf="isLoading" class="row">
    <div class="myLoader">
      <div
        class="spinner-border text-success"
        style="width: 8rem; height: 8rem"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!isLoading && fetchErrorMessage">
    <div class="row">
      <div class="myLoader">
        {{ fetchErrorMessage }}
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!isLoading && !fetchErrorMessage">
    <ng-container *ngFor="let blog of blogs | sortBy: sortingWay:propertyName">
      <div
        class="row mt-2 myRows"
        data-toggle="modal"
        (click)="openViewModal(content)"
      >
        <div class="col-4 text-center">
          {{ blog.date | date: "MMM d, y, h:mm a" }}
        </div>
        <div class="col-5 text-center">
          {{ blog._id }}
        </div>
        <div class="col-3 text-center">
          {{ blog.name }}
        </div>
      </div>
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title" *ngIf="!isDeleted">
            {{ blog.name }}'s Blog&nbsp;
            <button *ngIf="!isDeleting" class="btn" (click)="edit(blog)">
              EDIT
            </button>
            <button *ngIf="!isDeleting" class="btn" (click)="isDeleting = true">
              DELETE
            </button>
          </h4>
          <h4 class="modal-title" id="modal-basic-title" *ngIf="isDeleted">
            {{ errorMessage }}
          </h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="cancel()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-boy" *ngIf="isLoading2">
          <div class="myLoader2">
            <div
              class="spinner-border text-success"
              style="width: 8rem; height: 8rem"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
        <div
          class="modal-body"
          *ngIf="!isDeleted && !isDeleting && !isLoading2"
        >
          <div class="row">
            <div class="col mb-2">
              <b>Author's profile Picture</b>
              <br />
              <img
                src="{{ imgUrl }}{{ blog.image }}"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
          <div class="row">
            <div class="col mb-2">
              <b>Date Added:</b><br />{{ blog.date | date: "MMM d, y, h:mm a" }}
            </div>
            <div class="col mb-2"><b>View count: </b>{{ blog.viewCount }}</div>
          </div>
          <div class="row">
            <div class="col mb-2"><b>Title:</b><br />{{ blog.title }}</div>
          </div>
          <div class="row">
            <div class="col mb-2">
              <b>Detail:</b><br />
              <span innerHtml="{{ blog.detail }}"></span>
            </div>
          </div>
          <div class="row">
            <div class="col mb-2">
              <b>ALL COMMENTS</b><br />
              <ng-container *ngFor="let comment of blog.comments">
                <div class="row">
                  <div class="col mb-2">
                    <b>Date: </b>{{ comment.date | date: "MMM d, y, h:mm a"
                    }}<br />
                    <b>Name: </b>
                    <ng-container *ngIf="comment.anonymous">
                      ANONYMOUS
                    </ng-container>
                    <ng-container *ngIf="!comment.anonymous">
                      {{ comment.name }}
                    </ng-container>
                    <br />
                    <b>Comment: </b><br />
                    {{ comment.comment }}<br />
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="modal-body" *ngIf="isDeleting">
          <h3>
            Are you completely & absolutely sure you want to delete this blog?
          </h3>
          <h4>
            If so then enter the following (as it is shown) in the input box
            below:
          </h4>
          <p>YES! I am absolutely sure.</p>
          <form [formGroup]="deleteForm" style="text-align: left">
            <script>
              if (document.getElementById("passPhrase").clicked) {
                document
                  .getElementById("errorMessage")
                  .appendChild(
                    document.createTextNode("Error! PassPhrase doesn't match.")
                  );
              }
            </script>
            <span id="errorMessage"></span>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="passPhrase"
                placeholder="Input the above sentence to continue"
                formControlName="password"
              />
            </div>
          </form>
        </div>

        <div
          class="modal-footer"
          *ngIf="(isDeleted || isDeleting) && !isLoading2"
        >
          <button
            *ngIf="!isDeleted"
            type="button"
            class="btn btn-outline-dark"
            (click)="deleteBlog(blog)"
          >
            DELETE NOW
          </button>
          <button
            *ngIf="isDeleted"
            type="button"
            class="btn btn-outline-dark"
            (click)="cancel()"
          >
            CLOSE
          </button>
        </div>
      </ng-template>
    </ng-container>
  </ng-container>
</div>

<ng-container *ngIf="isEditing || isAdding">
  <div
    *ngIf="!isLoading2 && !isEdited && !isAdded"
    class="card p-3 overflow-auto"
  >
    <div class="row">
      <div class="col-12 text-center">
        <h2>
          Blog creation/editing form<br />
          <button class="btn btn-success" *ngIf="isAdding" (click)="add()">
            Add</button
          >&nbsp;
          <button class="btn btn-success" *ngIf="isEditing" (click)="save()">
            Save</button
          >&nbsp;
          <button class="btn btn-success" (click)="cancel()">Cancel</button>
        </h2>
      </div>
    </div>

    <form [formGroup]="blogForm" style="text-align: left">
      <button
        class="btn btn-success"
        type="button"
        (click)="profilePicturePicker.click()"
      >
        <img
          *ngIf="imagePreview"
          class="img-fluid oldImage"
          src="{{ imgUrl }}{{ imagePreview }}"
          [alt]="imagePreview.substring(0, thumbnailPreview.length - 3)"
        />
        <img
          *ngIf="imagePreviewNew"
          class="img-fluid oldImage"
          src="{{ imagePreviewNew }}"
          [alt]=""
        />
        <br /><fa-icon [icon]="faEdit"></fa-icon>
      </button>
      <input
        type="file"
        #profilePicturePicker
        accept=".png, .jpg"
        (change)="onImagePicked($event)"
      />

      <div class="form-group">
        <label for="inputAddress">Name</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress"
          placeholder="Name"
          formControlName="name"
        />
      </div>
      <div class="form-group">
        <label for="inputAddress">Title</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress"
          placeholder="Title"
          formControlName="title"
        />
      </div>
      <div class="form-group">
        <label for="inputAddress">Details</label>
        <ejs-richtexteditor
          id="defaultRTE"
          formControlName="detail"
          [toolbarSettings]="rteTools"
          height="400"
          [maxLength]="maxLength"
        >
        </ejs-richtexteditor>
      </div>
    </form>
  </div>

  <div *ngIf="isLoading2" class="card p-3 overflow-auto">
    <div class="row">
      <div class="myLoader">
        <div
          class="spinner-border text-success"
          style="width: 8rem; height: 8rem"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="!isLoading2 && (isAdded || isEdited)"
    class="card p-3 overflow-auto"
  >
    <div class="row">
      <div class="col-12 text-center mt-2">
        <h3>{{ addEditMessage }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <button class="btn btn-success" (click)="cancel()">Close</button>
      </div>
    </div>
  </div>
</ng-container>
