<app-navbar></app-navbar>

<div class="img-fluid" [ngStyle]="{ 'background-image': 'url(' + backgroundImage + ')' }" style="padding: 6% 0">
    <div class="contianer-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="headm text-white font-weight-bold text-center" style="font-size: 100px;">Join Us!</h1>
            </div>
            <div class="col-md-12 py-3 bg-success">
                <h4 class="psource text-white text-center">You can choose to become a</h4>
                <h4 class="psource text-white text-center"><span class="text-primary">Member</span> or an <span
                        class="text-primary">Executive member</span></h4>
                <h4 class="psource text-white text-center">of the Sov Lanatir Team </h4>
            </div>
        </div>
        <!-- the two container of member and executive member  -->
    </div>

    <div class="container my-5">
        <div class="row">
            
            <div class="col-md-3 mx-5 rounded text-center text-white bg-primary" style="padding: 10% 0;">
                Regular Member
            </div>
            <div class="col-md-3 mt-5 "></div>
            <div class="col-md-3 mx-5 rounded text-center text-white bg-primary" style="padding: 10% 0;">
                Executive Member
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>