@import "../../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-icons/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../../../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css";

.card {
  -webkit-box-shadow: 8px 11px 27px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 11px 27px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 11px 27px -6px rgba(0, 0, 0, 0.75);
}

.flexOldImageBox {
  justify-content: center;
}

.oldImageFlex {
  width: 20%;
}
