<div class="row text-center">
  <div class="col-lg-12">
    <h3>Website Individual pages informations</h3>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card mb-4 p-3 overflow-auto" style="height: 500px">
      <div class="row text-center">
        <div class="col mb-2">
          <h5>Home Page</h5>
        </div>
      </div>
      <div class="row" *ngIf="!isLoading">
        <div class="col mb-3 text-center">
          <img
            class="img-thumbnail mb-2"
            style="width: 40%"
            src="{{ climatePic }}"
            alt="climateChange"
          />
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="validatedCustomFile"
              accept=".png, .jpg"
              (change)="onClimateImagePicked($event, 'home')"
            />
            <label class="custom-file-label" for="validatedCustomFile"
              >Choose an image for Climate Change!</label
            >
          </div>
          <div class="d-flex flex-wrap flexOldImageBox mt-3">
            <ng-container *ngFor="let obj of joinUsPic; index as i">
              <div class="d-flex flex-column oldImageFlex p-2">
                <img
                  class="img-fluid img-thumbnail oldImage"
                  src="{{ obj.image }}"
                  [alt]="'image_' + i"
                />
                <button
                  class="btn btn-warning mt-2"
                  type="button"
                  (click)="deletePic(obj)"
                >
                  Remove Picture
                </button>
              </div>
            </ng-container>
          </div>
          <div class="custom-file mt-2">
            <input
              type="file"
              class="custom-file-input"
              id="validatedCustomFile"
              accept=".png, .jpg"
              multiple
              (change)="onImagesPicked($event)"
            />
            <label class="custom-file-label" for="validatedCustomFile"
              >Choose images for Join-us Slider</label
            >
          </div>
        </div>
      </div>
      <form [formGroup]="landingForm" *ngIf="!isLoading">
        <div class="row">
          <div class="col mb-3">
            <ejs-richtexteditor
              floatingToolbarOffset="1"
              formControlName="detail"
              [toolbarSettings]="rteTools"
              height="480"
            >
            </ejs-richtexteditor>
          </div>
          <div class="col mb-3">
            <ejs-richtexteditor
              floatingToolbarOffset="1"
              formControlName="helpPara"
              [toolbarSettings]="rteTools"
              height="480"
            >
            </ejs-richtexteditor>
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <ejs-richtexteditor
              floatingToolbarOffset="1"
              formControlName="joinPara"
              [toolbarSettings]="rteTools"
              height="480"
            >
            </ejs-richtexteditor>
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <button
              class="btn btn-success mt-3 mb-3"
              (click)="saveLandingPage()"
              [disabled]="
                landingForm.value.detail == websiteInfo.landingPage.detail &&
                landingForm.value.helpPara ==
                  websiteInfo.landingPage.helpPara &&
                landingForm.value.joinPara ==
                  websiteInfo.landingPage.joinPara &&
                !climatePicData &&
                joinUsPicData.length == 0 &&
                deletePicArray.length == 0
              "
            >
              Save Landing Page</button
            ><span
              *ngIf="
                landingForm.value.detail == websiteInfo.landingPage.detail &&
                landingForm.value.helpPara ==
                  websiteInfo.landingPage.helpPara &&
                landingForm.value.joinPara ==
                  websiteInfo.landingPage.joinPara &&
                !climatePicData &&
                joinUsPicData.length == 0 &&
                deletePicArray.length == 0
              "
              ><small>&nbsp;* No changes made yet!</small></span
            >
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="landingMessageError"
            >
              {{ landingMessageError }}
            </div>
            <div
              class="alert alert-success"
              role="alert"
              *ngIf="landingMessage"
            >
              {{ landingMessage }}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-5">
    <div class="card mb-4 p-3 overflow-auto" style="height: 600px">
      <h5 class="text-center">Department Page</h5>
      <form [formGroup]="departmentForm" *ngIf="!isLoading">
        <label>Small paragraph at the top of department page:</label>
        <ejs-richtexteditor
          floatingToolbarOffset="1"
          formControlName="details"
          [toolbarSettings]="rteTools"
          height="448"
        >
        </ejs-richtexteditor>

        <div
          class="alert alert-danger mt-3"
          role="alert"
          *ngIf="departmentMessageError"
        >
          {{ departmentMessageError }}
        </div>
        <div
          class="alert alert-success mt-3"
          role="alert"
          *ngIf="departmentMessage"
        >
          {{ departmentMessage }}
        </div>

        <button
          class="btn btn-success mt-3"
          (click)="saveDepartmentPage()"
          [disabled]="
            departmentForm.value.details == websiteInfo.departmentPage.details
          "
        >
          Save detail</button
        ><span
          *ngIf="
            departmentForm.value.details == websiteInfo.departmentPage.details
          "
          ><small>&nbsp;* No changes made yet!</small></span
        >
      </form>
    </div>
  </div>
  <div class="col-lg-7">
    <div class="card p-3 overflow-auto" style="height: 600px">
      <h5 class="text-center">About US page</h5>
      <form [formGroup]="aboutUsForm" *ngIf="!isLoading">
        <div class="text-center">
          <img
            class="img-thumbnail mb-2"
            style="width: 50%"
            src="{{ aboutPic }}"
            alt="climateChange"
          />
        </div>
        <div class="custom-file">
          <input
            type="file"
            class="custom-file-input"
            id="validatedCustomFile"
            accept=".png, .jpg"
            (change)="onClimateImagePicked($event, 'about')"
          />
          <label class="custom-file-label" for="validatedCustomFile"
            >Choose an image for About Us background!</label
          >
        </div>
        <label class="mt-2">About us details:</label>
        <ejs-richtexteditor
          floatingToolbarOffset="1"
          formControlName="details"
          [toolbarSettings]="rteTools"
          height="400"
        >
        </ejs-richtexteditor>
        <label class="mt-2">About us mission paragraph:</label>
        <ejs-richtexteditor
          floatingToolbarOffset="1"
          formControlName="mission"
          [toolbarSettings]="rteTools"
          height="400"
        >
        </ejs-richtexteditor>
        <label class="mt-2">Gallery small paragraph:</label>
        <ejs-richtexteditor
          floatingToolbarOffset="1"
          formControlName="galleryDetail"
          [toolbarSettings]="rteTools"
          height="400"
        >
        </ejs-richtexteditor>

        <div
          class="alert alert-danger mt-3"
          role="alert"
          *ngIf="aboutUsMessageError"
        >
          {{ aboutUsMessageError }}
        </div>
        <div
          class="alert alert-success mt-3"
          role="alert"
          *ngIf="aboutUsMessage"
        >
          {{ aboutUsMessage }}
        </div>

        <button
          class="btn btn-success mt-3 mb-3"
          (click)="saveAboutUsPage()"
          [disabled]="
            aboutUsForm.value.details == websiteInfo.aboutUsPage.details &&
            aboutUsForm.value.mission == websiteInfo.aboutUsPage.mission &&
            aboutUsForm.value.galleryDetail ==
              websiteInfo.aboutUsPage.galleryDetail &&
            !this.aboutPicData
          "
        >
          Save detail</button
        ><span
          *ngIf="
            aboutUsForm.value.details == websiteInfo.aboutUsPage.details &&
            aboutUsForm.value.mission == websiteInfo.aboutUsPage.mission &&
            aboutUsForm.value.galleryDetail ==
              websiteInfo.aboutUsPage.galleryDetail &&
            !this.aboutPicData
          "
          ><small>&nbsp;* No changes made yet!</small></span
        >
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-7">
    <div class="card p-3 overflow-auto" style="height: 600px">
      <h5 class="text-center">Team Members</h5>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="card mb-4 p-3 overflow-auto" style="height: 600px">
      <h5 class="text-center">Join Us Page</h5>
      <ng-container *ngIf="!isLoading">
        <div class="text-center">
          <img
            class="img-thumbnail mb-2"
            style="width: 50%"
            src="{{ joinPagePic }}"
            alt="joinUsSovLanatir"
          />
        </div>
        <div class="custom-file">
          <input
            type="file"
            class="custom-file-input"
            id="validatedCustomFile"
            accept=".png, .jpg"
            (change)="onClimateImagePicked($event, 'join')"
          />
          <label class="custom-file-label" for="validatedCustomFile"
            >Choose an image for Join Us background!</label
          >
        </div>
        <div
          class="alert alert-danger mt-3"
          role="alert"
          *ngIf="joinPageMessageError"
        >
          {{ joinPageMessageError }}
        </div>
        <div
          class="alert alert-success mt-3"
          role="alert"
          *ngIf="joinPageMessage"
        >
          {{ joinPageMessage }}
        </div>
        <button
          class="btn btn-success mt-3 mb-3"
          (click)="saveJoinUsPage()"
          [disabled]="!joinPagePicData"
        >
          Save Image</button
        ><span *ngIf="!joinPagePicData"
          ><small>&nbsp;* No changes detected!</small></span
        >
      </ng-container>
    </div>
  </div>
</div>
