<app-navbar></app-navbar>

<footer class="pt-5">
  <div class="container-fluid bg-secondary mt-5">
    <div class="row">
      <div class="offset-1 col-10 text-center">
        <h3 class="pt-5 pb-3 headm text-white font-weight-bold">
          Keep In Touch
        </h3>
        <form>
          <div class="form-group">
            <div class="row">
              <div class="col-8 offset-md-2 col-md-6 px-0">
                <input
                  type="email"
                  class="form-control"
                  style="border-radius: 10px 0 0 10px"
                  placeholder="Enter your email here"
                />
              </div>
              <div class="col-4 col-md-2 px-0">
                <button
                  type="submit"
                  class="btn btn-primary text-white form-control"
                  style="border-radius: 0 10px 10px 0 !important; border: none"
                >
                  Subscribe
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row pt-4 pb-3">
      <div class="col-md-6 text-left pt-3">
        <h4 class="font-weight-bold headr">Contact Us</h4>
        <p class="psource text-info">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt
          quod cumque ipsum. Delectus, hic. Eligendi repudiandae fugiat animi
          non commodi.
        </p>

        <form>
        </form>
      </div>
      <div class="col-md-6 text-right pt-3">Bonjour</div>
    </div>
    <div class="row">
      <div class="col-12 text-center ">
        <p class="psource footer-text m-1">
          ©2020 Sov Lanatir. Made with <span class="text-danger">♥</span> by
          Phenom.
        </p>
      </div>
    </div>
  </div>
</footer>
