<div class="container" style="padding: 5% 0 0 0">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12 text-break text-center text-sm-left">
          <h1 class="headm text-warning pt-5" id="main-text">
            Upcoming events.
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 py-3">
          <p class="psource text-center text-sm-left">
            Check out some of our upcoming projects.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" style="padding: 0 0 5% 0">
  <div class="row">
    <div class="col-12 mb-3">
      <app-events-card></app-events-card>
    </div>
  </div>
</div>
