<div class="container">
  <!-- ACCOMMDOATION -->
  <div class="row mt-4">
    <div class="col-lg-6 mb-3">
      <app-admin-blog></app-admin-blog>
    </div>
    <div class="col-lg-6 mb-3">
      <app-admin-department></app-admin-department>
    </div>
  </div>

  <!-- ACCOUNT -->
  <div class="row mt-3">
    <div class="col-lg-7 mb-3">
      <div class="card myCard p-3 overflow-auto">
        <div class="row">
          <div class="col mb-3">#</div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 mb-3">
      <div class="card myCard p-3 overflow-auto">
        <div class="row">
          <div class="col mb-3">#</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-6 mb-3">
      <div class="card myCard p-3 overflow-auto">
        <div class="row">
          <div class="col mb-3">#</div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-3">
      <div class="card myCard p-3 overflow-auto">
        <div class="row">
          <div class="col mb-3">#</div>
        </div>
      </div>
    </div>
  </div>
</div>
