

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.avatar {
  vertical-align: middle;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.card-dept-title {
  font-size: 22px;
  font-weight: 500;
}
.card-info {
  font-size: 20px;
  color: #707070;
}
