@import "../../../styles.scss";

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.avatar {
  vertical-align: middle;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.inside-card {
  background-color: $white;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.inside-card:hover {
  background-color: $gray;
}

.card-event-title {
  font-size: 20px;
  font-weight: 500;
}

.card-dept-title {
  font-size: 18px;
  font-weight: 500;
}
.card-info {
  font-size: 16px;
  color: #707070;
}
