<app-navbar></app-navbar>


<div class="container-fluid">
    <!--Addition of a variable background image -->
    <img class="img-fluid backgroundimage" [src]=backgroundImage alt="Responsive image"> 
    <!--Container supposed to be responsive-->
    <div class="container ">
        <div class="row">
            <div class="col-sm-6">
                <p class="headm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, aliquid.</p>
            </div>
            <div class="col-sm-6">
                <div class="row-sm-6">
                    <p class="headm">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, nesciunt.</p>
                </div>
                <div class="row">
                    <div class="col-m-6">
                        <button class="btn btn-primary">Get Started</button>
                    </div>
                    <div class="col-m-6">
                        <button class="btn btn-link"> Contact Us</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>


<app-footer></app-footer>