<app-navbar></app-navbar>
<div
  class="img-container"
  [ngStyle]="{ 'background-image': 'url(' + backgroundImage + ')' }"
  style="padding: 20% 0"
>
  <div class="container-fluid">
    <!--Container supposed to be responsive-->
    <div class="row">
      <div class="offset-md-1 col-md-5 py-3">
        <div class="headm text-white">
          <h1 class="font-weight-bold" id="main-text">Climate Justice</h1>
          <h2>In Mauritius</h2>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-12">
            <p class="psource text-white text-justify shadow" id="paragraph">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Exercitationem blanditiis molestias, neque veritatis sit autem
              repellendus officiis ab ullam cum corporis? Facere aliquam,
              reprehenderit asperiores sapiente harum non optio odio!
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <button class="btn btn-primary text-white px-4 mx-2">
              Get Started
            </button>
            <button class="btn btn-link text-white mx-2">Contact Us</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
