<footer>
  <div class="container-fluid bg-secondary">
    <div class="row">
      <div class="offset-1 col-10 text-center">
        <h3 class="pt-5 pb-3 headm text-white font-weight-bold">
          Keep In Touch
        </h3>
        <form>
          <div class="form-group">
            <div class="row">
              <div class="col-8 offset-md-2 col-md-6 px-0">
                <input
                  type="email"
                  class="form-control"
                  style="border-radius: 10px 0 0 10px"
                  placeholder="Enter your email here"
                />
              </div>
              <div class="col-4 col-md-2 px-0">
                <button
                  type="submit"
                  class="btn btn-primary text-white form-control"
                  style="border-radius: 0 10px 10px 0 !important; border: none"
                >
                  Subscribe
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container pt-3">
    <div class="row py-5">
      <div class="col-md-6 text-left">
        <h4 class="font-weight-bold headr">Contact Us</h4>
        <p class="psource text-info">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt
          quod cumque ipsum. Delectus, hic. Eligendi repudiandae fugiat animi
          non commodi.
        </p>
        <form>
          <div class="form-group">
            <input
              type="tel"
              name="fname"
              id="fname"
              class="form-control form-control-sm"
              placeholder="Full Name"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              name="email"
              id="email"
              class="form-control form-control-sm"
              placeholder="Email"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="phone"
              id="phone"
              class="form-control form-control-sm"
              placeholder="Phone Number"
              required
            />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-warning form-control">
              Submit
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-6 text-right py-5">
        <div class="row">
          <div class="col-12 d-md-none">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-12">
            <h4 class="font-weight-bold headr">Address</h4>
            <p class="psource text-info">
              <fa-icon [icon]="faMapMarkerAlt" class="px-1" size="xs"></fa-icon
              >{{ address }}
            </p>
          </div>
          <div class="col-6 col-md-12">
            <h4 class="font-weight-bold headr">Phone</h4>
            <p class="psource text-info">
              <fa-icon [icon]="faPhone" class="px-1" size="xs"></fa-icon>
              {{ phone }}
            </p>
          </div>
          <div class="col-12 col-md-12">
            <h4 class="font-weight-bold headr">Email</h4>
            <p class="psource text-info">
              <fa-icon [icon]="faInbox" class="px-1" size="xs"></fa-icon
              >{{ email }}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="offset-4 col-4 offset-md-2 col-md-5 text-warning">
            <a class="psource text-warning" [href]="facebookPage"
              ><fa-icon [icon]="faFacebook" class="px-1" size="md"></fa-icon>/
              SovLanatir</a
            >
          </div>
          <div class="col-4 col-md-5 text-warning">
            <a class="psource text-warning" [href]="instagramPage"
              ><fa-icon [icon]="faInstagram" class="px-1" size="lg"></fa-icon
              >@sovlanatir</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <p class="psource footer-text m-1">
          ©2020 Sov Lanatir. Made with <span class="text-danger">♥</span> by
          Phenom.
        </p>
      </div>
    </div>
  </div>
</footer>
